@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Black.ttf');
}


.profile {
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}