@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Black.ttf');
}


.profile {
    background-image: radial-gradient( circle 788px at 0.7% 3.4%,  rgb(87, 110, 203) 0%, rgba(255,255,255,1) 90% );
}